#users .header .grid{
    justify-content:space-between;
}

#users .header .grid > div:last-child{
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
}

#users .header .title{
    font-size:32px;
    margin-bottom:2rem;
    color:var(--primary);
}