#contacts .header .grid{
    justify-content:space-between;
}

#contacts .header .grid > div:last-child{
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
}

#contacts .header .title{
    font-size:32px;
    margin-bottom:2rem;
    color:var(--primary);
}

#contacts .button + .button{
    margin-left:1rem;
}

#contacts .body{
    width:100%;
    overflow-x:auto;
}

@media all and ( max-width:1130px ){

    /* #contacts .table{ */
        /* margin-top:2rem; */
    /* } */
}