#public-contacts{
    margin-top:5rem;
}

#public-contacts .header .grid{
    justify-content:space-between;
}

#public-contacts .header .grid > div:last-child{
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
}

#public-contacts .header .title{
    font-size:32px;
    margin-bottom:2rem;
    color:var(--primary);
}

#public-contacts .button + .button{
    margin-left:1rem;
}