#login{
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    color:var(--white);
}

#login > .left,
#login > .right{
    height:100%;
    position:relative;
}

#login > .left{
    width:65%;
    background-image: url("./../../assets/images/bg-1.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

#login > .left:before{
    content:"";
    display:block;
    position:absolute;
    left:0px;
    right:0px;
    z-index:1;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
}

#login > .right{
    width:35%;
}

#login .left{
    background-color:var(--default);
}

#login .left h1{
    font-weight: 400;
}

#login .left h3{
    font-weight: 300;
}

#login .container{
    max-width:1200px;
    padding-left:5rem;
    padding-right:5rem;
    box-sizing:content-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    position:relative;
    z-index:1;
}

#login .squares{
    width:100%;
    height:100%;
    position:absolute;
}

#login .squares .square{
    position:absolute;
    border-radius:0.25rem;
    border:5px solid var(--primary);
}

#login .squares .square.default{
    background-color:var(--primary);
}

#login .squares .square:nth-child(1){
    width:100px;
    height:100px;
    top:50px;
    left:50px;
    transform:rotate(25deg);
}

#login .squares .square:nth-child(2){
    width:30px;
    height:30px;
    top:175px;
    right:50px;
    transform:rotate(-25deg);
}

#login .squares .square:nth-child(3){
    width:150px;
    height:150px;
    bottom:-30px;
    right:-30px;
    transform:rotate(25deg);
}

#login .squares .square:nth-child(4){
    width:200px;
    height:200px;
    bottom:-30px;
    right:50px;
    transform:rotate(-10deg);
}

@media all and ( max-width:992px ){

    #login > .left,
    #login > .right{
        width:50%;
    }

    #login > .left h1{
        font-size:48px;
    }
    
    #login > .left h3{
        font-size:28px;
    }

}

@media all and ( max-width:768px ){

    #login{
        flex-direction:column;
    }

    #login .container{
        padding-left:1rem;
        padding-right:1rem;
    }

    #login > .left{
        display:none;
    }
    
    #login > .left,
    #login > .right{
        width:100%;
    }

}