.notifications{
    position:fixed;
    top:2rem;
    right:2rem;
    display:inline-flex;
    flex-direction:column;
    align-items:flex-end;
}

.notifications .notify{
    max-width:200px;
    box-sizing:border-box;
    padding:0.5rem 0.5rem;
    margin-bottom:1rem;
    box-shadow:0px 3px 20px -5px #707070;
    border-radius:0.25rem;
    font-size:12px;
    font-weight:bold;
    border:2px solid var(--default);
    background-color:var(--default);
    animation:showNotify 0.3s forwards ease-in;
}

@keyframes showNotify{
    from{ 
        opacity:0;
        transform:translateX(50px);
    }

    to{ 
        opacity:1;
        transform:translateX(0px);
    }
}