@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

*{
    margin:0px;
    padding:0px;
    text-decoration:none;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --default:#c4c4c4;
    --primary:#8B85C1;
    --white:#ffffff;
}

h1{
    font-size:72px;
    margin-bottom:0.6em;
}

h3{
    font-size:48px;
    margin-bottom:0.6em;
}

.container{
    max-width:1200px;
    margin:0px auto;
    position:relative;
    padding-left:1rem;
    padding-right:1rem;
}

.button{
    white-space:nowrap;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    min-height:40px;
    outline:none;
    cursor:pointer;
    border-radius:0.25rem;
    padding:0.5rem 1rem;
    border:1px solid var(--default);
    background-color:var(--default);
}

.button.primary{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--white);
}