.field-group{
    display:flex;
    flex-direction:column-reverse;
}

.field-group .field{
    width:100%;
    border-radius:0.25rem;
    padding:0.5rem 0.5rem;
    outline:none;
    min-height:40px;
    border:1px solid var(--primary);
}

.field-group label{
    margin-bottom:0.1em;
    transition:0.3s;
    color:var(--primary);
}

.field-group .field:focus + label{
    font-weight:bold;
    transition:0.3s;
}

.field-group:not(:last-child){
    margin-bottom:1rem;
}