/* START: GRID */

.wg.grid {
    --maxColumns: 12;
    --columnSize: calc( 100% / var(--maxColumns));
    --gutters: 1rem;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    margin-left: calc( var(--gutters) * -1);
    margin-right: calc( var(--gutters) * -1);
}

.wg.grid>.col, .wg.grid>[class*="col-"] {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    flex-grow: 1;
    transition: 0.3s;
    padding-left: var(--gutters);
    padding-right: var(--gutters);
}

.wg.grid.equal {
    flex-wrap: nowrap;
}

.wg.grid.equal>.col {
    flex-grow: 0;
    flex-basis: 100%;
}

@media all and ( max-width:576px) {
    .wg.grid>[class*="col-sm-"], .wg.grid>[class*="col-md-"], .wg.grid>[class*="col-lg-"] {
        flex-basis: 100%;
        max-width: 100%;
    }
    .wg.grid>[class*="offset-sm-"], .wg.grid>[class*="offset-md-"], .wg.grid>[class*="offset-lg-"] {
        margin-left: 0px;
    }
    .wg.grid>[class*="push-sm-"], .wg.grid>[class*="push-md-"], .wg.grid>[class*="push-lg-"] {
        margin-right: 0px;
    }
    .wg.grid>.col-xs-1 {
        flex-basis: calc( var(--columnSize) * 1);
        max-width: calc( var(--columnSize) * 1);
    }
    .wg.grid>.col-xs-2 {
        flex-basis: calc( var(--columnSize) * 2);
        max-width: calc( var(--columnSize) * 2);
    }
    .wg.grid>.col-xs-3 {
        flex-basis: calc( var(--columnSize) * 3);
        max-width: calc( var(--columnSize) * 3);
    }
    .wg.grid>.col-xs-4 {
        flex-basis: calc( var(--columnSize) * 4);
        max-width: calc( var(--columnSize) * 4);
    }
    .wg.grid>.col-xs-5 {
        flex-basis: calc( var(--columnSize) * 5);
        max-width: calc( var(--columnSize) * 5);
    }
    .wg.grid>.col-xs-6 {
        flex-basis: calc( var(--columnSize) * 6);
        max-width: calc( var(--columnSize) * 6);
    }
    .wg.grid>.col-xs-7 {
        flex-basis: calc( var(--columnSize) * 7);
        max-width: calc( var(--columnSize) * 7);
    }
    .wg.grid>.col-xs-8 {
        flex-basis: calc( var(--columnSize) * 8);
        max-width: calc( var(--columnSize) * 8);
    }
    .wg.grid>.col-xs-9 {
        flex-basis: calc( var(--columnSize) * 9);
        max-width: calc( var(--columnSize) * 9);
    }
    .wg.grid>.col-xs-10 {
        flex-basis: calc( var(--columnSize) * 10);
        max-width: calc( var(--columnSize) * 10);
    }
    .wg.grid>.col-xs-11 {
        flex-basis: calc( var(--columnSize) * 11);
        max-width: calc( var(--columnSize) * 11);
    }
    .wg.grid>.col-xs-12 {
        flex-basis: calc( var(--columnSize) * 12);
        max-width: calc( var(--columnSize) * 12);
    }
    .wg.grid>.offset-xs-1 {
        margin-left: calc( var(--columnSize) * 1);
    }
    .wg.grid>.offset-xs-2 {
        margin-left: calc( var(--columnSize) * 2);
    }
    .wg.grid>.offset-xs-3 {
        margin-left: calc( var(--columnSize) * 3);
    }
    .wg.grid>.offset-xs-4 {
        margin-left: calc( var(--columnSize) * 4);
    }
    .wg.grid>.offset-xs-5 {
        margin-left: calc( var(--columnSize) * 5);
    }
    .wg.grid>.offset-xs-6 {
        margin-left: calc( var(--columnSize) * 6);
    }
    .wg.grid>.offset-xs-7 {
        margin-left: calc( var(--columnSize) * 7);
    }
    .wg.grid>.offset-xs-8 {
        margin-left: calc( var(--columnSize) * 8);
    }
    .wg.grid>.offset-xs-9 {
        margin-left: calc( var(--columnSize) * 9);
    }
    .wg.grid>.offset-xs-10 {
        margin-left: calc( var(--columnSize) * 10);
    }
    .wg.grid>.offset-xs-11 {
        margin-left: calc( var(--columnSize) * 11);
    }
    .wg.grid>.offset-xs-12 {
        margin-left: calc( var(--columnSize) * 12);
    }
    .wg.grid>.push-xs-1 {
        margin-right: calc( var(--columnSize) * 1);
    }
    .wg.grid>.push-xs-2 {
        margin-right: calc( var(--columnSize) * 2);
    }
    .wg.grid>.push-xs-3 {
        margin-right: calc( var(--columnSize) * 3);
    }
    .wg.grid>.push-xs-4 {
        margin-right: calc( var(--columnSize) * 4);
    }
    .wg.grid>.push-xs-5 {
        margin-right: calc( var(--columnSize) * 5);
    }
    .wg.grid>.push-xs-6 {
        margin-right: calc( var(--columnSize) * 6);
    }
    .wg.grid>.push-xs-7 {
        margin-right: calc( var(--columnSize) * 7);
    }
    .wg.grid>.push-xs-8 {
        margin-right: calc( var(--columnSize) * 8);
    }
    .wg.grid>.push-xs-9 {
        margin-right: calc( var(--columnSize) * 9);
    }
    .wg.grid>.push-xs-10 {
        margin-right: calc( var(--columnSize) * 10);
    }
    .wg.grid>.push-xs-11 {
        margin-right: calc( var(--columnSize) * 11);
    }
    .wg.grid>.push-xs-12 {
        margin-right: calc( var(--columnSize) * 12);
    }
    .wg.grid>.order-xs-1 {
        order: 1;
    }
    .wg.grid>.order-xs-2 {
        order: 2;
    }
    .wg.grid>.order-xs-3 {
        order: 3;
    }
    .wg.grid>.order-xs-4 {
        order: 4;
    }
    .wg.grid>.order-xs-5 {
        order: 5;
    }
    .wg.grid>.order-xs-6 {
        order: 6;
    }
    .wg.grid>.order-xs-7 {
        order: 7;
    }
    .wg.grid>.order-xs-8 {
        order: 8;
    }
    .wg.grid>.order-xs-9 {
        order: 9;
    }
    .wg.grid>.order-xs-10 {
        order: 10;
    }
    .wg.grid>.order-xs-11 {
        order: 11;
    }
    .wg.grid>.order-xs-12 {
        order: 12;
    }
}

@media all and ( min-width:576px) {
    .wg.grid>.col-sm-1 {
        flex-basis: calc( var(--columnSize) * 1);
        max-width: calc( var(--columnSize) * 1);
    }
    .wg.grid>.col-sm-2 {
        flex-basis: calc( var(--columnSize) * 2);
        max-width: calc( var(--columnSize) * 2);
    }
    .wg.grid>.col-sm-3 {
        flex-basis: calc( var(--columnSize) * 3);
        max-width: calc( var(--columnSize) * 3);
    }
    .wg.grid>.col-sm-4 {
        flex-basis: calc( var(--columnSize) * 4);
        max-width: calc( var(--columnSize) * 4);
    }
    .wg.grid>.col-sm-5 {
        flex-basis: calc( var(--columnSize) * 5);
        max-width: calc( var(--columnSize) * 5);
    }
    .wg.grid>.col-sm-6 {
        flex-basis: calc( var(--columnSize) * 6);
        max-width: calc( var(--columnSize) * 6);
    }
    .wg.grid>.col-sm-7 {
        flex-basis: calc( var(--columnSize) * 7);
        max-width: calc( var(--columnSize) * 7);
    }
    .wg.grid>.col-sm-8 {
        flex-basis: calc( var(--columnSize) * 8);
        max-width: calc( var(--columnSize) * 8);
    }
    .wg.grid>.col-sm-9 {
        flex-basis: calc( var(--columnSize) * 9);
        max-width: calc( var(--columnSize) * 9);
    }
    .wg.grid>.col-sm-10 {
        flex-basis: calc( var(--columnSize) * 10);
        max-width: calc( var(--columnSize) * 10);
    }
    .wg.grid>.col-sm-11 {
        flex-basis: calc( var(--columnSize) * 11);
        max-width: calc( var(--columnSize) * 11);
    }
    .wg.grid>.col-sm-12 {
        flex-basis: calc( var(--columnSize) * 12);
        max-width: calc( var(--columnSize) * 12);
    }
    .wg.grid>.offset-sm-1 {
        margin-left: calc( var(--columnSize) * 1);
    }
    .wg.grid>.offset-sm-2 {
        margin-left: calc( var(--columnSize) * 2);
    }
    .wg.grid>.offset-sm-3 {
        margin-left: calc( var(--columnSize) * 3);
    }
    .wg.grid>.offset-sm-4 {
        margin-left: calc( var(--columnSize) * 4);
    }
    .wg.grid>.offset-sm-5 {
        margin-left: calc( var(--columnSize) * 5);
    }
    .wg.grid>.offset-sm-6 {
        margin-left: calc( var(--columnSize) * 6);
    }
    .wg.grid>.offset-sm-7 {
        margin-left: calc( var(--columnSize) * 7);
    }
    .wg.grid>.offset-sm-8 {
        margin-left: calc( var(--columnSize) * 8);
    }
    .wg.grid>.offset-sm-9 {
        margin-left: calc( var(--columnSize) * 9);
    }
    .wg.grid>.offset-sm-10 {
        margin-left: calc( var(--columnSize) * 10);
    }
    .wg.grid>.offset-sm-11 {
        margin-left: calc( var(--columnSize) * 11);
    }
    .wg.grid>.offset-sm-12 {
        margin-left: calc( var(--columnSize) * 12);
    }
    .wg.grid>.push-sm-1 {
        margin-right: calc( var(--columnSize) * 1);
    }
    .wg.grid>.push-sm-2 {
        margin-right: calc( var(--columnSize) * 2);
    }
    .wg.grid>.push-sm-3 {
        margin-right: calc( var(--columnSize) * 3);
    }
    .wg.grid>.push-sm-4 {
        margin-right: calc( var(--columnSize) * 4);
    }
    .wg.grid>.push-sm-5 {
        margin-right: calc( var(--columnSize) * 5);
    }
    .wg.grid>.push-sm-6 {
        margin-right: calc( var(--columnSize) * 6);
    }
    .wg.grid>.push-sm-7 {
        margin-right: calc( var(--columnSize) * 7);
    }
    .wg.grid>.push-sm-8 {
        margin-right: calc( var(--columnSize) * 8);
    }
    .wg.grid>.push-sm-9 {
        margin-right: calc( var(--columnSize) * 9);
    }
    .wg.grid>.push-sm-10 {
        margin-right: calc( var(--columnSize) * 10);
    }
    .wg.grid>.push-sm-11 {
        margin-right: calc( var(--columnSize) * 11);
    }
    .wg.grid>.push-sm-12 {
        margin-right: calc( var(--columnSize) * 12);
    }
    .wg.grid>.order-sm-1 {
        order: 1;
    }
    .wg.grid>.order-sm-2 {
        order: 2;
    }
    .wg.grid>.order-sm-3 {
        order: 3;
    }
    .wg.grid>.order-sm-4 {
        order: 4;
    }
    .wg.grid>.order-sm-5 {
        order: 5;
    }
    .wg.grid>.order-sm-6 {
        order: 6;
    }
    .wg.grid>.order-sm-7 {
        order: 7;
    }
    .wg.grid>.order-sm-8 {
        order: 8;
    }
    .wg.grid>.order-sm-9 {
        order: 9;
    }
    .wg.grid>.order-sm-10 {
        order: 10;
    }
    .wg.grid>.order-sm-11 {
        order: 11;
    }
    .wg.grid>.order-sm-12 {
        order: 12;
    }
}

@media all and ( min-width:768px) {
    .wg.grid>.col-md-1 {
        flex-basis: calc( var(--columnSize) * 1);
        max-width: calc( var(--columnSize) * 1);
    }
    .wg.grid>.col-md-2 {
        flex-basis: calc( var(--columnSize) * 2);
        max-width: calc( var(--columnSize) * 2);
    }
    .wg.grid>.col-md-3 {
        flex-basis: calc( var(--columnSize) * 3);
        max-width: calc( var(--columnSize) * 3);
    }
    .wg.grid>.col-md-4 {
        flex-basis: calc( var(--columnSize) * 4);
        max-width: calc( var(--columnSize) * 4);
    }
    .wg.grid>.col-md-5 {
        flex-basis: calc( var(--columnSize) * 5);
        max-width: calc( var(--columnSize) * 5);
    }
    .wg.grid>.col-md-6 {
        flex-basis: calc( var(--columnSize) * 6);
        max-width: calc( var(--columnSize) * 6);
    }
    .wg.grid>.col-md-7 {
        flex-basis: calc( var(--columnSize) * 7);
        max-width: calc( var(--columnSize) * 7);
    }
    .wg.grid>.col-md-8 {
        flex-basis: calc( var(--columnSize) * 8);
        max-width: calc( var(--columnSize) * 8);
    }
    .wg.grid>.col-md-9 {
        flex-basis: calc( var(--columnSize) * 9);
        max-width: calc( var(--columnSize) * 9);
    }
    .wg.grid>.col-md-10 {
        flex-basis: calc( var(--columnSize) * 10);
        max-width: calc( var(--columnSize) * 10);
    }
    .wg.grid>.col-md-11 {
        flex-basis: calc( var(--columnSize) * 11);
        max-width: calc( var(--columnSize) * 11);
    }
    .wg.grid>.col-md-12 {
        flex-basis: calc( var(--columnSize) * 12);
        max-width: calc( var(--columnSize) * 12);
    }
    .wg.grid>.offset-md-1 {
        margin-left: calc( var(--columnSize) * 1);
    }
    .wg.grid>.offset-md-2 {
        margin-left: calc( var(--columnSize) * 2);
    }
    .wg.grid>.offset-md-3 {
        margin-left: calc( var(--columnSize) * 3);
    }
    .wg.grid>.offset-md-4 {
        margin-left: calc( var(--columnSize) * 4);
    }
    .wg.grid>.offset-md-5 {
        margin-left: calc( var(--columnSize) * 5);
    }
    .wg.grid>.offset-md-6 {
        margin-left: calc( var(--columnSize) * 6);
    }
    .wg.grid>.offset-md-7 {
        margin-left: calc( var(--columnSize) * 7);
    }
    .wg.grid>.offset-md-8 {
        margin-left: calc( var(--columnSize) * 8);
    }
    .wg.grid>.offset-md-9 {
        margin-left: calc( var(--columnSize) * 9);
    }
    .wg.grid>.offset-md-10 {
        margin-left: calc( var(--columnSize) * 10);
    }
    .wg.grid>.offset-md-11 {
        margin-left: calc( var(--columnSize) * 11);
    }
    .wg.grid>.offset-md-12 {
        margin-left: calc( var(--columnSize) * 12);
    }
    .wg.grid>.push-md-1 {
        margin-right: calc( var(--columnSize) * 1);
    }
    .wg.grid>.push-md-2 {
        margin-right: calc( var(--columnSize) * 2);
    }
    .wg.grid>.push-md-3 {
        margin-right: calc( var(--columnSize) * 3);
    }
    .wg.grid>.push-md-4 {
        margin-right: calc( var(--columnSize) * 4);
    }
    .wg.grid>.push-md-5 {
        margin-right: calc( var(--columnSize) * 5);
    }
    .wg.grid>.push-md-6 {
        margin-right: calc( var(--columnSize) * 6);
    }
    .wg.grid>.push-md-7 {
        margin-right: calc( var(--columnSize) * 7);
    }
    .wg.grid>.push-md-8 {
        margin-right: calc( var(--columnSize) * 8);
    }
    .wg.grid>.push-md-9 {
        margin-right: calc( var(--columnSize) * 9);
    }
    .wg.grid>.push-md-10 {
        margin-right: calc( var(--columnSize) * 10);
    }
    .wg.grid>.push-md-11 {
        margin-right: calc( var(--columnSize) * 11);
    }
    .wg.grid>.push-md-12 {
        margin-right: calc( var(--columnSize) * 12);
    }
    .wg.grid>.order-md-1 {
        order: 1;
    }
    .wg.grid>.order-md-2 {
        order: 2;
    }
    .wg.grid>.order-md-3 {
        order: 3;
    }
    .wg.grid>.order-md-4 {
        order: 4;
    }
    .wg.grid>.order-md-5 {
        order: 5;
    }
    .wg.grid>.order-md-6 {
        order: 6;
    }
    .wg.grid>.order-md-7 {
        order: 7;
    }
    .wg.grid>.order-md-8 {
        order: 8;
    }
    .wg.grid>.order-md-9 {
        order: 9;
    }
    .wg.grid>.order-md-10 {
        order: 10;
    }
    .wg.grid>.order-md-11 {
        order: 11;
    }
    .wg.grid>.order-md-12 {
        order: 12;
    }
}

@media all and ( min-width:992px) {
    .wg.grid>.col-lg-1 {
        flex-basis: calc( var(--columnSize) * 1);
        max-width: calc( var(--columnSize) * 1);
    }
    .wg.grid>.col-lg-2 {
        flex-basis: calc( var(--columnSize) * 2);
        max-width: calc( var(--columnSize) * 2);
    }
    .wg.grid>.col-lg-3 {
        flex-basis: calc( var(--columnSize) * 3);
        max-width: calc( var(--columnSize) * 3);
    }
    .wg.grid>.col-lg-4 {
        flex-basis: calc( var(--columnSize) * 4);
        max-width: calc( var(--columnSize) * 4);
    }
    .wg.grid>.col-lg-5 {
        flex-basis: calc( var(--columnSize) * 5);
        max-width: calc( var(--columnSize) * 5);
    }
    .wg.grid>.col-lg-6 {
        flex-basis: calc( var(--columnSize) * 6);
        max-width: calc( var(--columnSize) * 6);
    }
    .wg.grid>.col-lg-7 {
        flex-basis: calc( var(--columnSize) * 7);
        max-width: calc( var(--columnSize) * 7);
    }
    .wg.grid>.col-lg-8 {
        flex-basis: calc( var(--columnSize) * 8);
        max-width: calc( var(--columnSize) * 8);
    }
    .wg.grid>.col-lg-9 {
        flex-basis: calc( var(--columnSize) * 9);
        max-width: calc( var(--columnSize) * 9);
    }
    .wg.grid>.col-lg-10 {
        flex-basis: calc( var(--columnSize) * 10);
        max-width: calc( var(--columnSize) * 10);
    }
    .wg.grid>.col-lg-11 {
        flex-basis: calc( var(--columnSize) * 11);
        max-width: calc( var(--columnSize) * 11);
    }
    .wg.grid>.col-lg-12 {
        flex-basis: calc( var(--columnSize) * 12);
        max-width: calc( var(--columnSize) * 12);
    }
    .wg.grid>.offset-lg-1 {
        margin-left: calc( var(--columnSize) * 1);
    }
    .wg.grid>.offset-lg-2 {
        margin-left: calc( var(--columnSize) * 2);
    }
    .wg.grid>.offset-lg-3 {
        margin-left: calc( var(--columnSize) * 3);
    }
    .wg.grid>.offset-lg-4 {
        margin-left: calc( var(--columnSize) * 4);
    }
    .wg.grid>.offset-lg-5 {
        margin-left: calc( var(--columnSize) * 5);
    }
    .wg.grid>.offset-lg-6 {
        margin-left: calc( var(--columnSize) * 6);
    }
    .wg.grid>.offset-lg-7 {
        margin-left: calc( var(--columnSize) * 7);
    }
    .wg.grid>.offset-lg-8 {
        margin-left: calc( var(--columnSize) * 8);
    }
    .wg.grid>.offset-lg-9 {
        margin-left: calc( var(--columnSize) * 9);
    }
    .wg.grid>.offset-lg-10 {
        margin-left: calc( var(--columnSize) * 10);
    }
    .wg.grid>.offset-lg-11 {
        margin-left: calc( var(--columnSize) * 11);
    }
    .wg.grid>.offset-lg-12 {
        margin-left: calc( var(--columnSize) * 12);
    }
    .wg.grid>.push-lg-1 {
        margin-right: calc( var(--columnSize) * 1);
    }
    .wg.grid>.push-lg-2 {
        margin-right: calc( var(--columnSize) * 2);
    }
    .wg.grid>.push-lg-3 {
        margin-right: calc( var(--columnSize) * 3);
    }
    .wg.grid>.push-lg-4 {
        margin-right: calc( var(--columnSize) * 4);
    }
    .wg.grid>.push-lg-5 {
        margin-right: calc( var(--columnSize) * 5);
    }
    .wg.grid>.push-lg-6 {
        margin-right: calc( var(--columnSize) * 6);
    }
    .wg.grid>.push-lg-7 {
        margin-right: calc( var(--columnSize) * 7);
    }
    .wg.grid>.push-lg-8 {
        margin-right: calc( var(--columnSize) * 8);
    }
    .wg.grid>.push-lg-9 {
        margin-right: calc( var(--columnSize) * 9);
    }
    .wg.grid>.push-lg-10 {
        margin-right: calc( var(--columnSize) * 10);
    }
    .wg.grid>.push-lg-11 {
        margin-right: calc( var(--columnSize) * 11);
    }
    .wg.grid>.push-lg-12 {
        margin-right: calc( var(--columnSize) * 12);
    }
    .wg.grid>.order-lg-1 {
        order: 1;
    }
    .wg.grid>.order-lg-2 {
        order: 2;
    }
    .wg.grid>.order-lg-3 {
        order: 3;
    }
    .wg.grid>.order-lg-4 {
        order: 4;
    }
    .wg.grid>.order-lg-5 {
        order: 5;
    }
    .wg.grid>.order-lg-6 {
        order: 6;
    }
    .wg.grid>.order-lg-7 {
        order: 7;
    }
    .wg.grid>.order-lg-8 {
        order: 8;
    }
    .wg.grid>.order-lg-9 {
        order: 9;
    }
    .wg.grid>.order-lg-10 {
        order: 10;
    }
    .wg.grid>.order-lg-11 {
        order: 11;
    }
    .wg.grid>.order-lg-12 {
        order: 12;
    }
}

@media all and ( min-width:1200px) {
    .wg.grid>.col-xl-1 {
        flex-basis: calc( var(--columnSize) * 1);
        max-width: calc( var(--columnSize) * 1);
    }
    .wg.grid>.col-xl-2 {
        flex-basis: calc( var(--columnSize) * 2);
        max-width: calc( var(--columnSize) * 2);
    }
    .wg.grid>.col-xl-3 {
        flex-basis: calc( var(--columnSize) * 3);
        max-width: calc( var(--columnSize) * 3);
    }
    .wg.grid>.col-xl-4 {
        flex-basis: calc( var(--columnSize) * 4);
        max-width: calc( var(--columnSize) * 4);
    }
    .wg.grid>.col-xl-5 {
        flex-basis: calc( var(--columnSize) * 5);
        max-width: calc( var(--columnSize) * 5);
    }
    .wg.grid>.col-xl-6 {
        flex-basis: calc( var(--columnSize) * 6);
        max-width: calc( var(--columnSize) * 6);
    }
    .wg.grid>.col-xl-7 {
        flex-basis: calc( var(--columnSize) * 7);
        max-width: calc( var(--columnSize) * 7);
    }
    .wg.grid>.col-xl-8 {
        flex-basis: calc( var(--columnSize) * 8);
        max-width: calc( var(--columnSize) * 8);
    }
    .wg.grid>.col-xl-9 {
        flex-basis: calc( var(--columnSize) * 9);
        max-width: calc( var(--columnSize) * 9);
    }
    .wg.grid>.col-xl-10 {
        flex-basis: calc( var(--columnSize) * 10);
        max-width: calc( var(--columnSize) * 10);
    }
    .wg.grid>.col-xl-11 {
        flex-basis: calc( var(--columnSize) * 11);
        max-width: calc( var(--columnSize) * 11);
    }
    .wg.grid>.col-xl-12 {
        flex-basis: calc( var(--columnSize) * 12);
        max-width: calc( var(--columnSize) * 12);
    }
    .wg.grid>.offset-xl-1 {
        margin-left: calc( var(--columnSize) * 1);
    }
    .wg.grid>.offset-xl-2 {
        margin-left: calc( var(--columnSize) * 2);
    }
    .wg.grid>.offset-xl-3 {
        margin-left: calc( var(--columnSize) * 3);
    }
    .wg.grid>.offset-xl-4 {
        margin-left: calc( var(--columnSize) * 4);
    }
    .wg.grid>.offset-xl-5 {
        margin-left: calc( var(--columnSize) * 5);
    }
    .wg.grid>.offset-xl-6 {
        margin-left: calc( var(--columnSize) * 6);
    }
    .wg.grid>.offset-xl-7 {
        margin-left: calc( var(--columnSize) * 7);
    }
    .wg.grid>.offset-xl-8 {
        margin-left: calc( var(--columnSize) * 8);
    }
    .wg.grid>.offset-xl-9 {
        margin-left: calc( var(--columnSize) * 9);
    }
    .wg.grid>.offset-xl-10 {
        margin-left: calc( var(--columnSize) * 10);
    }
    .wg.grid>.offset-xl-11 {
        margin-left: calc( var(--columnSize) * 11);
    }
    .wg.grid>.offset-xl-12 {
        margin-left: calc( var(--columnSize) * 12);
    }
    .wg.grid>.push-xl-1 {
        margin-right: calc( var(--columnSize) * 1);
    }
    .wg.grid>.push-xl-2 {
        margin-right: calc( var(--columnSize) * 2);
    }
    .wg.grid>.push-xl-3 {
        margin-right: calc( var(--columnSize) * 3);
    }
    .wg.grid>.push-xl-4 {
        margin-right: calc( var(--columnSize) * 4);
    }
    .wg.grid>.push-xl-5 {
        margin-right: calc( var(--columnSize) * 5);
    }
    .wg.grid>.push-xl-6 {
        margin-right: calc( var(--columnSize) * 6);
    }
    .wg.grid>.push-xl-7 {
        margin-right: calc( var(--columnSize) * 7);
    }
    .wg.grid>.push-xl-8 {
        margin-right: calc( var(--columnSize) * 8);
    }
    .wg.grid>.push-xl-9 {
        margin-right: calc( var(--columnSize) * 9);
    }
    .wg.grid>.push-xl-10 {
        margin-right: calc( var(--columnSize) * 10);
    }
    .wg.grid>.push-xl-11 {
        margin-right: calc( var(--columnSize) * 11);
    }
    .wg.grid>.push-xl-12 {
        margin-right: calc( var(--columnSize) * 12);
    }
    .wg.grid>.order-xl-1 {
        order: 1;
    }
    .wg.grid>.order-xl-2 {
        order: 2;
    }
    .wg.grid>.order-xl-3 {
        order: 3;
    }
    .wg.grid>.order-xl-4 {
        order: 4;
    }
    .wg.grid>.order-xl-5 {
        order: 5;
    }
    .wg.grid>.order-xl-6 {
        order: 6;
    }
    .wg.grid>.order-xl-7 {
        order: 7;
    }
    .wg.grid>.order-xl-8 {
        order: 8;
    }
    .wg.grid>.order-xl-9 {
        order: 9;
    }
    .wg.grid>.order-xl-10 {
        order: 10;
    }
    .wg.grid>.order-xl-11 {
        order: 11;
    }
    .wg.grid>.order-xl-12 {
        order: 12;
    }
}

/* END: GRID */