#system{
    padding:5rem;
    position:relative;
}

.leftbar{
    margin-bottom:2rem;
}

.leftbar,
.leftbar .user{
    width:100%;
}

.leftbar .user{
    position:relative;
    z-index:1;
}

.leftbar .user .background{
    width:100%;
    height:80px;
    border-radius:0.25rem;
    background-color:var(--primary);
}

.leftbar .user .photo{
    width:80px;
    height:80px;
    border-radius:50%;
    margin:-40px auto 0px auto;
    background-color:var(--white);
    border:5px solid var(--primary);
}

.leftbar .menu{
    width:100%;
    margin-top:-35px;
    border-radius:0.25rem;
    padding-top:3rem;
    padding-bottom:1rem;
    list-style:none;
    background-color:var(--primary);
}

.leftbar .menu .item a{
    display:flex;
    padding:0.5rem 1rem;
    text-align:center;
    justify-content:center;
    color:var(--white);
}

.table{
    width:100%;
    max-width:100%;
    text-align:left;
    border-spacing:0px 1rem;
    /* margin-top:-2rem; */
}

.table thead tr th{
    background-color:#707070;
    color:var(--white);
    padding:0.25rem 1rem;
    white-space:nowrap;
}

.table thead tr th:first-child{
    border-radius:0.25rem 0px 0px 0.25rem;
}

.table thead tr th:last-child{
    border-radius:0px 0.25rem 0.25rem 0px;
}

.table tbody tr td{
    border:1px solid #707070;
    border-right-color:transparent;
    border-left-color:transparent;
    padding:0.5rem 1rem;
    transition:0.3s;
}

.table tbody tr td span{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    max-width:80%;
    display:block;
}

.table tbody tr td:first-child{
    border-radius:0.25rem 0px 0px 0.25rem;
    border-left-color:var(--primary);
}

.table tbody tr td:last-child{
    border-radius:0px 0.25rem 0.25rem 0px;
    border-right-color:var(--primary);
}

.table tbody tr:hover td{
    background-color:var(--default);
    transition:0.3s;
}

.table .actions{
    display:inline-flex;
}

.table .actions button{
    padding:0.2rem 0.5rem;
    border-radius:0.25rem;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:var(--primary);
    color:var(--white);
}

.table .actions button + button{
    margin-left:0.5rem;
}

.table thead th:last-child,
.table thead td:last-child,
.table tbody th:last-child,
.table tbody td:last-child{
    text-align:right;
}

.table thead th:last-child span,
.table thead td:last-child span,
.table tbody th:last-child span,
.table tbody td:last-child span{
    display:inline-flex;
}

.table .not-found{
    text-align:center !important;
}

@media all and ( max-width:768px ){
    #system{
        padding:1rem;
    }
}